# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.eggs/

# Virtual environment
.venv/

# Build artifacts
build/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Test artifacts
src/ui/test_audio.wav
tests/fixtures/test_audio.wav
